<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.avigezerit.myfaves">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".FavesListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ManageFavActivity" />


        <activity android:name=".View.SearchPlacesActivity">

        </activity>

        <service android:name=".Control.mService">
            <intent-filter>
                <action android:name="com.avigezerit.myfaves.action.SEARCH"/>
            </intent-filter>
        </service>

        <provider
            android:authorities="com.avigezerit.myfaves"
            android:name=".Model.dbProvider"
            android:exported="true"
            android:enabled="true"/>

        <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyB2eNueotW9eTU2scgoiGd-KjpvRfWmKHM"/>

    </application>

</manifest>